<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <h2>All Categories</h2>

    <% if (categories.length === 0) { %>
        <p>No categories found.</p>
    <% } else { %>
        <ul>
            <% categories.forEach(category => { %>
                <li><%= category.name %></li>
            <% }) %>
        </ul>
    <% } %>
</main>

<%- include('partials/footer') %>