<header>
    <nav>
        <a href="/">Home</a>
        <a href="/organizations">Organizations</a>
        <a href="/organization/new">New Organization</a>
    </nav>

    <!-- Flash messages -->
    <% const messages = flash(); %>
    <% Object.keys(messages).forEach(type => { %>
        <% if (messages[type].length > 0) { %>
            <div class="alert <%= type %>">
                <% messages[type].forEach(msg => { %>
                    <div><%= msg %></div>
                <% }); %>
            </div>
        <% } %>
    <% }); %>
</header>